
  .poto
  {
      min-width:80px;
      min-height: 80px;
      max-height: 100px;
     
      display: ruby-base;
      object-fit: cover;    
  }

  .pic-new-card
  {
      min-width: 400px;
      min-height: 400px;
      max-height: 500px;
      max-width: 400px;
      display: ruby-base;
      object-fit: cover;    
  }

  .btn-primary{
      color: black;
      border: 2px solid DimGrey;

  }
  .raw{
      color: black;
      margin-left: 10px;
  }
  .raw th{
    margin-left: 10px;
  }

  td,tr {
    padding: 1px;
    text-align:center;
    margin-left: 0px;
    
  }
  Table{
    border-collapse:separate;
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr{background-color: #f2f2f2}

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #d6e69d;
    color: white;
  }
  .topic h2{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      color: brown;
      font-size: 50px;
  }
  .topic button{
    align-items: center;
  }
  