
  .imgcard
  {
      min-width: 63px;
      min-height: 63px;
      max-height: 65px;
      max-width: 65px;
      display: ruby-base;
      object-fit: cover;    
  }

  .btn-primary{
      color: black;
      border: 2px solid DimGrey;

  }
  .raw{
      color: black;
  }

  td,tr {
    padding: 15px;
    text-align: left;
  }
  Table{
    border-collapse: collapse;
    border: 1px solid #ddd;
    padding: 8px;
  }

  tr{background-color: #f2f2f2}

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }
  .topic h2{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      color: brown;
  }
  .topic button{
    align-items: center;
  }
  