.design-search{
  display: grid;
  background-color: rgb(223, 208, 235);
  text-align: center;
  box-shadow: 1px 1px 0.5px 0.5px rgba(2, 231, 201, 0.801);;
  border-radius: 4px;
  display:ruby;
  border: 6px solid rgb(18, 4, 218);
  width: 24%;
  min-width: 50px;
  min-height: 30px;
  }

  .filter_newdesign{
    height: 30px;
    width: 330px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
  }

.pic-new-card
  {
      min-width: 400px;
      min-height: 400px;
      max-height: 500px;
      max-width: 470px;
      display: ruby-base;
      object-fit: cover;    
  }

  .btn-primary{
      color: rgb(70, 11, 14);
      border: 2px solid rgb(11, 2, 24);

  }
  .raw{
      color: black;
  }

  td,tr {
    padding: 15px;
    text-align: center;
  }
  Table{
    border-collapse: collapse;
    border: 1px solid rgb(44, 2, 2);
    padding: 8px;
  }


  tr{
    background: url('https://images.pexels.com/photos/326862/pexels-photo-326862.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    } 

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #330209;
    color: rgb(240, 244, 247);
  }
  .topic h2{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      color: rgb(12, 180, 172);
      font-size: 30px;

  }
  .order_status{
    height: 110px;
    width: 100%;
    border-radius: 10px;
    align-content: center;
    background-color: rgba(207, 136, 136, 0.5);
    text-align: center;
    color: rgb(206, 216, 215);
    font-size: 17px;
    
  }
  .del_design{
    background-image: url('https://images.pexels.com/photos/347139/pexels-photo-347139.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    background-position: inherit;
  }
  .red_td{
    text-align: center;
    color: rgb(241, 7, 7);
    font-size: 13px;
  }
  .redxx_td{
    text-align: center;
    color: rgb(241, 7, 7);
    font-size: 16px;
  }
  .green_td{
    text-align: center;
    color: rgb(0, 94, 5);
    font-size: 16px;
  }
  .blue_td{
    text-align: center;
    color: rgb(33, 0, 94);
    font-size: 16px;
  }
  .white_th{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 16px;
  }