
.paper{
    /* margin: top 8%; */
    display: 'flex';
    /* flexDirection: 'column'; */
    align-items: 'center';
    width: '10%';
    /* background-color: rgba(253, 253, 253, 0.5); */
    margin-left: 10px;
    margin-right: 10px;
}
.paper h1{
    font-family:fantasy;
    font-size: 40px;
    color: darkblue;
}
.form{
    width: '80%';
    margin-top: top 3%;
    
}
.aws .paper .form .submit{
    margin: 9px, 0px, 2px;
    color: #000;
    

}
.paper .pay h3{
    font-family: Arial;
    font-size: 20px;
}
.aws{
  
    background-color: rgb(255, 242, 242);
}
.sdf{
    /* background-color: rgb(214, 187, 187); */
    border: black;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
    background-image: url('https://images.pexels.com/photos/269218/pexels-photo-269218.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    border: black;
    background-attachment: fixed;
}
.des{
    margin-left: 650px;
}
.paybutton .submitpay button{
    color: #000;
}
.label p{
    font-size: small;
    text-align: left;
    color: rgb(145, 57, 22);
}

.paper h4{
    color: rgb(8, 122, 14);
}
.paper h3{
    color: brown;
}

.rep{
 margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
  background-size:contain;
  margin-top: 0px;
    background-image: url('https://images.pexels.com/photos/509922/pexels-photo-509922.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
}
.label p{
    text-size-adjust: 10px;
}
.distance p{
    text-align: left;
    font-size: medium;
    text-align: left;
    color: rgb(145, 57, 22);
}
