.BtnBack{

    position: relative;
    left: 300px;
    top: 59px;
    
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
       
}
.BtnBack a{

    
    text-decoration: none;
    background: rgb(68, 0, 255);
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 10px 25px;
    border-radius: 3px;
    
    
}