.BtnBack{

    position: relative;
    left: 300px;
    top: 59px;
    
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
       
}
.BtnBack a{

    
    text-decoration: none;
    background: rgb(68, 0, 255);
    color: white;
    text-transform: capitalize;
    letter-spacing: 2px;
    padding: 10px 25px;
    border-radius: 3px;
    
    
}
.peo{
    height: 145px;
    width: 400px;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(248, 221, 184);
}
.Success{
    height: 100vh;
    display:flow-root;
    align-items:center;
    justify-content: center;
}

.page01{
    height: 30vh;
    display: flex;
    align-items:center;
    justify-content: center;
  
  }