.a{
    margin-top: 20px;
    margin-left: 400px;
    max-width: 50%;   
    text-justify: center;
   
     
};
.a .head h2{
   font-style: italic;
};

.Details{
    margin-left: 200px;
    color: blue;
};
.p{
    margin-top: 40px;
};
.b{
    text-align: center;
    text-decoration: solid;
    size: 30px;
};