.main{
    text-align: center;
}

.main h1{
    text-align: center;
    margin-bottom: 30px;
    color: rgb(32, 138, 170);
    font-style: italic;
    font-family: fantasy;

}
.color1{
    color: #f7941d
}
.main h4{
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Meie Script', cursive;
    font-size: 25px;
    color: red;
}
.mail li a{
    text-align: center;
}