.container3{
    height: 175px;
    width: 600px;
    border-radius: 10px;
    background-color: rgba(53, 21, 6, 0.85);
    
  }
 

.UpNewDesign{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.UpNewDesign a{
    text-decoration: none;
    background: rgb(20, 6, 58);
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 25px;
    border-radius: 3px;
    
}